@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&family=Shippori+Antique+B1&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pacifico&display=swap');

#header {
    display: inline-block;
    justify-content: space-between;
}

#header a {
    text-decoration: none;
}

#header img{
    margin-left: 30px;
    height: 15px !important;    
}

/*Navbar */
#menu {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 900000;
}

#menu a{
    color: #0e0036 !important;
    font-weight: bold;
}

#navegacao-menu a:hover{
    background-color: #9b9b9b80;
    color: black;
    border-radius: 5px;
}

#home{
    color: #fff;
    background-image: url(../img/espaco.jpg);
    margin-top: 0px !important;
    height: 600px;
}

#home a {
    font-weight: bold !important;
    font-family: 'Shippori Antique B1' !important;
    margin-right: 15px;
}

#home h1 {
    font-family: 'Alfa Slab One', cursive !important;
    margin-top: 75px;

}

#home p{
    font-weight: bold;
}

/*logo*/
a#logo{
    font-family: 'Pacifico', cursive !important;
    font-size: 25px;
    margin-left: 15px;
}

/*imagem - home*/
#img-home{
    height: 550px;
}